
@{
    ViewData["Title"] = "Event";
}

<h3 name="textToCopy" id="textToCopy">https://wcf.vivt.ru/Connect_Room/@Context.Request.RouteValues["ID"]</h3>

<button class="btn btn-outline-warning" onclick="copyToClipboard()">Копировать</button>

<a class="btn btn-outline-info" asp-action="Connect_Room" asp-route-id="@Context.Request.RouteValues["ID"]">Войти</a>

<script>
    function copyToClipboard() {
        var text = document.getElementById("textToCopy").innerText;
        navigator.clipboard.writeText(text)
            .then(function () {
                console.log("Текст скопирован в буфер обмена");
            })
            .catch(function (error) {
                console.error("Не удалось скопировать текст: ", error);
            });
    }
</script>

