
@{
    ViewData["Title"] = "Index";
}
<div class="text-align:center">
    <h3 style="text-align:center">Simple Forgetful Anonymous Chat</h3>
    <div class="row">
        <a class="btn btn-outline-primary" asp-action="Create_Room">Create_Room</a>
        <a class="btn btn-outline-warning">Policy</a>
    </div>
</div>


